@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Ubuntu:ital,wght@0,300;1,300&display=swap');


.bgNav{
	background-color: #03525B;
	opacity: 0.9;
	font-family: "Roboto Condensed", sans-serif;
}

#botonera a{
	color: #87BBA2;
	font-family:"Roboto Condensed", sans-serif;
	font-size:1.5 rem;
}
#botonera a:hover{
	color: white;
}


.bg-body{
	background-color:#55828B !important;
}

h1,h2{
	font-family: 'Ubuntu', sans-serif; 
	font-style: italic;
	color: #213DEA;
	
}	

.width{
	width: 10%;
}
.bg-footer{
	background-color: #03525B;
}
.text-pie{
	color: #87BBA2;	
	font-family: 'Ubuntu', sans-serif; 
	font-style: italic;
}
.btn-color{
	border-radius: 50px;
	background-color: #054A7B;
	color: white;
	width: 90%;	
	justify-content: center;
}
.btn-color:hover{
	color: #43F1E7;
}
.card{
	background-color:#C1C0C0 !important;
	
}
.animacion{
	width: 90%;
	margin-bottom: 1.5rem;
}
.maps{
	width: 100%;
	height: 450px;
}